{% extends 'myAccount.html' %}
{% block myProfileContent %}
    <div class="card bg-dark">
        <div class="card-header">
            <ul class="nav nav-pills">
                <li class="col active"><a data-toggle="tab" href="#reviewsAsReviewed">Reviews as reviewed</a></li>
                <li class="col"><a data-toggle="tab" href="#reviewsAsAuthor">Reviews as author</a></li>
           </ul>
        </div>
        <div class="card-body mb-3">
            <div class="tab-content">
                <div id="reviewsAsReviewed" class="tab-pane active">
                    {% if reviewsAsReviewed %}
                        {% regroup reviewsAsReviewed by category as category_list %}
                        {% for category in category_list %}
                            <div class="card mb-3 bg-dark">
                                <div class="card-body">
                                    {{ category.grouper }}
                                    {% for c in category.list %}
                                        <div class="card mb-3 bg-dark">
                                            <div class="card-body">
                                                Opinion by {{ c.author }} to {{ c.reviewed }} {{ c.rating }}/5 {{ c.description }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No opinions available</p>
                    {% endif%}
                </div>
                <div id="reviewsAsAuthor" class="tab-pane">
                    {% if reviewsAsAuthor %}
                        {% regroup reviewsAsAuthor by category as category_list %}
                        {% for category in category_list %}
                            <div class="card mb-3 bg-dark">
                                <div class="card-body">
                                    {{ category.grouper }}
                                    {% for c in category.list %}
                                        <div class="card mb-3 bg-dark">
                                            <div class="card-body">
                                                Opinion by {{ c.author }} to {{ c.reviewed }} {{ c.rating }}/5 {{ c.description }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No opinions available</p>
                    {% endif%}
                </div>
            </div>
        </div>
    </div>
{% endblock %}