{% extends 'myAccount.html' %}
{% block myProfileContent %}
    <div class="card bg-dark mb-3">
        <div class="card-header">
            <h3>My profile</h3>
        </div>
        <div class="card-body">
            {% if profile %}
                name: {{profile.first_name}} <br>
                second name: {{profile.last_name}} <br>
                age: {{profile.age}} <br>
                talents: {{profile.balance}}T <br>
            {% else %}
                No such profile in the data base
            {% endif %}
        </div>
    </div>
{% endblock %}
      
