<!-- templates/search.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <title>Search</title>
</head>
<body>
    <div class="container-fluid">
        <div>
            <h1 class="card-header bg-light mb-3 text-center">Welcome to TalentHub</h1>
            <form class="form-inline md-form mr-auto mb-4" id="search" method="GET"  action="">
                <select name="cat">
                    {% if request.GET.cat %}
                        <option value="{{request.GET.cat}}">{{request.GET.cat}}</option>
                    {% endif%}
                    <option value="">---------</option>
                    {% for c in category %}
                        <option value="{{ c.name }}">{{ c.name }}</option>
                    {% endfor %}
                </select>

                <input class="form-control mr-sm-3" type="text" name="tag" placeholder="Tags separated by a space" aria-label="Search" value="{{request.GET.tag}}">
                
                <select name="sort">
                        {% if request.GET.sort %}
                        <option value="{{request.GET.sort}}">{{request.GET.sort}}</option>
                        {% endif%}
                        <option value="">Order by</option>
                        <option value="Tag: from the most matching">Tag: from the most matching</option>
                        <option value="Price: from the highest">Price: from the highest</option>
                        <option value="Price: from the lowest">Price: from the lowest</option>
                        <option value="User Name: A->Z">User Name: A->Z</option>
                        <option value="User Name: Z->A">User Name: Z->A</option>
                </select>
                
                <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit" value='Search'>Search</button>
            </form> 
            <div class="card-body">
                {% if offers %}
                    {% for o in offers %}
                        <div class="card mb-3">
                            <div class="card-header bg-light">
                                <h4>{{ o.category }} - {{ o.price }} 
                            Talents</h4>
                            </div>
                            <div class="card-body bg-light">
                                <p>{{ o.description }}</p>
                                <p>
                                    Tags: 
                                    {% for tag in o.tag_set.all %}
                                        {{ tag.name }}
                                    {% empty %}
                                        None!
                                    {% endfor %}    
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="card mb-3">
                        <p>No offers available.</p>
                    </div>
                {% endif%}
            </div>
        </div>
    </div>
</body>
</html>
